---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <main class="min-h-screen flex items-center justify-center bg-background">
    <img
      src="/phew-blue-logo.svg"
      alt="phew.blue"
      class="w-64 max-w-[80vw]"
    />
  </main>
</Layout>
